img {
	max-width: 100%;
	max-height: 100%;
}

body {
	font-family: Arial;
	padding: 20px;
	background: rgb(255, 255, 255);
}

.leftcolumn {
	float: left;
	width: 50%;
}

.image {
	width: 100%;
	padding: 20px;
	height: 300px;
}

.card {
	background-color: rgb(180, 180, 180);
	padding: 20px;
	margin-top: 20px;
	border-radius: 25px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 800px) {

	.leftcolumn,
	.rightcolumn {
		width: 100%;
		padding: 0;
	}
}
  .gradient-button {
	text-decoration: none;
	display: inline-block;
	color: white;
	padding: 20px 30px;
	margin: 10px 20px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-image: linear-gradient(to right, #161616 0%, #ec2c2c 51%, #191a19 100%);
	background-size: 200% auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	transition: .5s;
  }
  .gradient-button:hover {
	background-position: right center;
  }

input[type=text],
input[type=email],
select,
textarea {
	width: 500px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.container {
	background-color: rgb(180, 180, 180);
	padding: 15px;
	margin-top: 15px;
	border-radius: 25px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.time {
    float: left;
    color: rgb(61, 61, 61);
	font-family: 'Airal', sans-serif;
}